nav{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100px;
	z-index: 100;
	background-color: rgb(239,243,246);
	width: 100%;
}
img#logo{
	cursor: pointer;
}
nav ul{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 399px;
	height: 41px;
	position: relative;
}
nav ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #2c3a4a;
	font-size: 16px;
	cursor: pointer;
}

#check, .checkbtn{
	display: none;
}
.under-line{
    height: 6px;
    width: 100%;
    background-image: -webkit-linear-gradient(0deg, rgb(133,122,92), rgb(158,148,123), rgb(158,148,123));
}